<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final | CHURN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="container__sidebar">
            <h1>Proyecto Final | CHURN</h1>
            <ul>
                <li><a href="/fase-uno">Fase Uno</a></li>
                <li><a href="/fase-dos">Fase Dos</a></li>
                <li><a href="/fase-tres">Fase Tres</a></li>
                <li><a href="/fase-cuatro">Fase Cuatro</a></li>

                <li class="active"><a href="/modelo-regresion-logistica">Modelo</a></li>
            </ul>
        </nav>
        <main class="container__content" id="main-content">
            <div class="content__info">
                <h1>Predicción de Churn</h1>

                <div class="resume-cards-container">
                    <div class="card">
                        <div class="card-header">Clientes en riesgo</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ churn_si }} clientes</h5>
                            <p class="card-text">Podrían abandonar el servicio.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Clientes estables</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ churn_no }} clientes</h5>
                            <p class="card-text">Probablemente conservarán el servicio.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Total de clientes analizados</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ total_datos }} clientes</h5>
                            <p class="card-text">Fueron procesados por el modelo.</p>
                        </div>
                    </div>
                </div>

                <h4 class="mt-4">Resumen por Ternure (antiguedad)</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ternure</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in tenure_summary ['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ tenure_summary ['No'][tipo] }}</td>
                            <td class="churn-si">{{ tenure_summary ['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h4 class="mt-4">Resumen por tipo de contrato</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Contrato</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in contract_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ contract_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ contract_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3 class="mt-5">Visualización de Resultados</h3>
                <p class="mb-4">A continuación se presentan las gráficas generadas a partir de los datos cargados, las
                    cuales permiten interpretar mejor los factores relacionados con la pérdida de clientes (churn).</p>

                <div class="chart-gallery">

                    <div class="chart-card">
                        <h4>Matriz de Confusión del Modelo</h4>
                        <p>Muestra la cantidad de aciertos y errores del modelo al clasificar clientes como propensos o
                            no al abandono.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.grafica) }}" class="img-fluid"
                            alt="Matriz de Confusión">
                    </div>

                    <div class="chart-card">
                        <h4>Distribución de Clientes según Antigüedad</h4>
                        <p>Clientes con menor antigüedad en el servicio tienden a cancelar más, según el análisis por
                            grupos de tenure.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.tenure) }}" class="img-fluid"
                            alt="Gráfica Tenure">
                    </div>

                    <div class="chart-card">
                        <h4>Churn según Tipo de Contrato</h4>
                        <p>Los contratos mensuales presentan mayor índice de cancelación en comparación con contratos
                            anuales o bianuales.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.contract) }}"
                            class="img-fluid" alt="Gráfica Contract">
                    </div>

                    <div class="chart-card">
                        <h4>Churn según Tipo de Internet</h4>
                        <p>Clientes con servicio de fibra óptica tienden a cancelar más que quienes usan DSL o no tienen
                            internet.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.internet) }}"
                            class="img-fluid" alt="Gráfica Internet">
                    </div>

                    <div class="chart-card">
                        <h4>Churn según Servicio Telefónico</h4>
                        <p>El acceso a servicio telefónico puede influir en la decisión del cliente de mantenerse con la
                            empresa.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.phone) }}" class="img-fluid"
                            alt="Gráfica PhoneService">
                    </div>

                    <div class="chart-card">
                        <h4>Churn y Servicio de StreamingTV</h4>
                        <p>El servicio de televisión por streaming también se asocia con la probabilidad de abandono del
                            cliente.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.streamingtv)  }}"
                            class="img-fluid" alt="Gráfica StreamingTV">
                    </div>

                    <div class="chart-card">
                        <h4>Churn y Servicio de StreamingMovies</h4>
                        <p>Clientes que usan servicios de películas en streaming también presentan ciertas tendencias de
                            churn.</p>
                        <img src="{{ url_for('static', filename='modelImages/' + imagenes.streamingmovies) }}"
                            class="img-fluid" alt="Gráfica StreamingMovies">
                    </div>
                </div>
                <h4 class="mt-4">Resumen por tipo de conexión a Internet</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tipo de Internet</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in internet_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ internet_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ internet_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h4 class="mt-4">Resumen por tipo de Servicio de TV</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tipo de Servicio de TV</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in streaming_tv_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ streaming_tv_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ streaming_tv_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h4 class="mt-4">Resumen por Servicio de Streaming de Películas</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Streaming de Películas</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in streaming_movies_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ streaming_movies_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ streaming_movies_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h4 class="mt-4">Resumen por Servicio de Telefonía</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Servicio de telefonía</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in phone_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ phone_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ phone_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% if tabla %}
                <h4 class="mt-4">Tabla de predicción detallada</h4>
                <div class="data-table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Tenure</th>
                                <th>MonthlyCharges</th>
                                <th>Contract</th>
                                <th>InternetService</th>
                                <th>StreamingTV</th>
                                <th>StreamingMovies</th>
                                <th>Churn</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in tabla %}
                            <tr>
                                <td>{{ row.tenure }} Meses</td>
                                <td>{{ row.MonthlyCharges }}</td>
                                <td>{{ row.Contract }}</td>
                                <td>{{ row.InternetService }}</td>
                                <td>{{ row.StreamingTV }}</td>
                                <td>{{ row.StreamingMovies }}</td>
                                <td class="{{ 'churn-si' if row['Predicción_Churn'] == 'Sí' else 'churn-no' }}">
                                    {{ row['Predicción_Churn'] }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </main>
    </div>
    <footer>
        <p>Proyecto Final Machine Learning | &copy; 2025</p>
        <p>Kelly Johanna Garzon Jenny | Jenny Paola Rodriguez</p>
    </footer>
</body>