<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final | CHURN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="container__sidebar">
            <h1>Proyecto Final | CHURN</h1>
            <ul>
                <li><a href="/fase-uno">Fase Uno</a></li>
                <li><a href="/fase-dos">Fase Dos</a></li>
                <li><a href="/fase-tres">Fase Tres</a></li>
                <li><a href="/fase-cuatro">Fase Cuatro</a></li>
                <li><a href="/fase-cinco">Fase Cinco</a></li>
                <li class="active"><a href="/modelo-regresion-logistica">Modelo</a></li>
            </ul>
        </nav>
        <main class="container__content" id="main-content">
            <div class="content__info">
                <h1>Predicción de Churn</h1>

                <div class="resume-cards-container">
                    <div class="card">
                        <div class="card-header">Clientes en riesgo</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ churn_si }} clientes</h5>
                            <p class="card-text">Podrían abandonar el servicio.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Clientes estables</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ churn_no }} clientes</h5>
                            <p class="card-text">Probablemente conservarán el servicio.</p>
                        </div>
                    </div>
                </div>

                <h4 class="mt-4">Resumen por tipo de contrato</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Contrato</th>
                            <th class="text-success">Conservará</th>
                            <th class="text-danger">Abandonará</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in contract_summary['No'].keys() %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td class="churn-no">{{ contract_summary['No'][tipo] }}</td>
                            <td class="churn-si">{{ contract_summary['Sí'][tipo] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if tabla %}
                <h4 class="mt-4">Tabla de predicción detallada</h4>
                <div class="data-table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Tenure</th>
                                <th>MonthlyCharges</th>
                                <th>Contract</th>
                                <th>InternetService</th>
                                <th>StreamingTV</th>
                                <th>StreamingMovies</th>
                                <th>Churn</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in tabla %}
                            <tr>
                                <td>{{ row.tenure }} Meses</td>
                                <td>{{ row.MonthlyCharges }}</td>
                                <td>{{ row.Contract }}</td>
                                <td>{{ row.InternetService }}</td>
                                <td>{{ row.StreamingTV }}</td>
                                <td>{{ row.StreamingMovies }}</td>
                                <td class="{{ 'churn-si' if row['Predicción_Churn'] == 'Sí' else 'churn-no' }}">
                                    {{ row['Predicción_Churn'] }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


                {% endif %}

                <h3 class="mt-4">Matriz de Confusión del Modelo:</h3>
                <img src="{{ url_for('static', filename='modelImages/grafica.png') }}" class="img-fluid">
                <h3 class="mt-4">Gráficas adicionales:</h3>
                <img src="{{ url_for('static', filename='modelImages/grafica_contract.png') }}" class="img-fluid mb-3">
                <img src="{{ url_for('static', filename='modelImages/grafica_internet.png') }}" class="img-fluid mb-3">
                <img src="{{ url_for('static', filename='modelImages/grafica_phone.png') }}" class="img-fluid mb-3">
                <img src="{{ url_for('static', filename='modelImages/grafica_streamingtv.png') }}"
                    class="img-fluid mb-3">
                <img src="{{ url_for('static', filename='modelImages/grafica_streamingmovies.png') }}"
                    class="img-fluid mb-3">
                <img src="{{ url_for('static', filename='modelImages/grafica_tenure.png') }}" class="img-fluid mb-3">

            </div>
        </main>
    </div>
    <footer>
        <p>Proyecto Final Machine Learning | &copy; 2025</p>
        <p>Kelly Johanna Garzon Jenny | Jenny Paola Rodriguez</p>
    </footer>
</body>