<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final | CHURN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="container__sidebar">
            <h1>Proyecto Final | CHURN</h1>
            <ul>
                <li><a href="/fase-uno">Fase Uno</a></li>
                <li><a href="/fase-dos">Fase Dos</a></li>
                <li><a href="/fase-tres">Fase Tres</a></li>
                <li><a href="/fase-cuatro">Fase Cuatro</a></li>
                <li><a href="/fase-cinco">Fase Cinco</a></li>
                <li class="active"><a href="/modelo">Modelo</a></li>
            </ul>
        </nav>
        <main class="container__content" id="main-content">
            <div class="content__info">
                <h1>Modelo</h1>
            </div>
        </main>
    </div>
    <footer>
        <p>Proyecto Final Machine Learning | &copy; 2025</p>
        <p>Kelly Johanna Garzon Jenny | Jenny Paola Rodriguez</p>
    </footer>
</body>